@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes background-animate {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}
.animate-background {
  animation: background-animate 10s alternate infinite;
}
